<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Ovladani robota Maliny</title>
</head>
<body>
    <h1>Ahoj, vitej na strance ovladani robota Maliny</h1>
    {% if zapnuty %}
    <a href="{{url_for('prepni')}}>Vypnout Malinu</a><br />
    <a href="{{url_for('dopredu')}}>Dopredu</a><br />
    <a href="{{url_for('stop')}}">Zastav</a><br />
    {% else %}
    <a href="{{url_for('prepni')}}>Zapnout Malinu</a>
    {% endif %}

</body>
</html>